@model IEnumerable<AzTodo.Models.TodoList>

@{
    ViewData["Title"] = "Index";
}

<h2>ToDo Lists</h2>

<p>
    <a asp-action="Create">Create New List</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    List Name
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TodoListName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TodoListId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.TodoListId">View Items</a> |
                <a asp-action="Delete" asp-route-id="@item.TodoListId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
